{% assign fields = "artStyles,texts,watercolor,woodlight,patterns,foods,colors" | split: "," %}
{% assign artStyles = "Classic,WaterColor,OilPaint,PolyArt,WPAP" | split: "," %}
{% assign texts = "Dallas,Los_Angeles,San_Antonio,Seattle" | split: "," %}
{% assign colors = "Aquamarine,Black,Blue,Burgundy,Coral,Dark_Blue,Forest_Green,Fruit_Orange,Green_Grass,Lake_Blue,Lavender_Rose,Light_Blue,Light_Green,Light_Pink,Light_Purple,Light_Red,Light_Yellow,Lime_Green,Orange,Pink,Purple,Red,Rose_Gold,Sky_Blue,Sunset_Yellow,Turquoise,Yellow" | split: "," %}

<div class="accordion" id="accordionExample">
  <h6>4 Art Styles, 80+ backgrounds, just for you!</h6>
  <p>We have tons of background options to showcase your furbaby just the way you want! Choose your art style and then pick a background!</p>
  {% for field in fields %}
    {% if field == "artStyles" %}
      <div class="card">
        <div class="card-header" id="headingArt">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapseArt" aria-expanded="true" aria-controls="collapseArt">
              Art Styles
            </button>
          </h6>
        </div>
        <div id="collapseArt" class="collapse show" aria-labelledby="headingArt" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for artStyle in artStyles %}
              <div class="card">
                <img src={{ artStyle | append: ".png" | asset_img_url: '600x' }} class="card-img-top" alt={{ artStyle }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ artStyle }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if field == "patterns" %}
      <div class="card">
        <div class="card-header" id="headingWatercolor">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapseWatercolor" aria-expanded="true" aria-controls="collapseOne">
              Watercolor Patterns
            </button>
          </h6>
        </div>
        <div id="collapseWatercolor" class="collapse" aria-labelledby="headingWatercolor" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for i in (1..21) %}
              <div class="card">
                <img src={{ "Watercolor-" | append: i | append: ".jpg"  | asset_img_url: '600x' }} class="card-img-top" alt={{ "Watercolor-" | append: i }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ "Watercolor-" | append: i | replace: '-', ' ' }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if field == "patterns" %}
      <div class="card">
        <div class="card-header" id="headingWoodLight">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapseWoodLight" aria-expanded="true" aria-controls="collapseWoodLight">
              WoodLight Patterns
            </button>
          </h6>
        </div>
        <div id="collapseWoodLight" class="collapse" aria-labelledby="headingWoodLight" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for i in (1..14) %}
              <div class="card">
                <img src={{ "WoodLight" | append: i | append: ".jpg"  | asset_img_url: '600x' }} class="card-img-top" alt={{ "WoodLight-" | append: i }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ "WoodLight-" | append: i | replace: '-', ' ' }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if field == "texts" %}
      <div class="card">
        <div class="card-header" id="headingText">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapseText" aria-expanded="true" aria-controls="collapseOne">
              Popular Texts
            </button>
          </h6>
        </div>
        <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for text in texts %}
              <div class="card">
                <img src={{ text | append: ".png" | asset_img_url: '600x' }} class="card-img-top" alt={{ text }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ text }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if field == "patterns" %}
      <div class="card">
        <div class="card-header" id="headingPattern">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapsePattern" aria-expanded="true" aria-controls="collapseOne">
              Cute Patterns
            </button>
          </h6>
        </div>
        <div id="collapsePattern" class="collapse" aria-labelledby="headingPattern" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for i in (1..20) %}
              <div class="card">
                <img src={{ "BackgroundPattern-" | append: i | append: ".jpg"  | asset_img_url: '600x' }} class="card-img-top" alt={{ "BackgroundPattern-" | append: i }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ "BackgroundPattern-" | append: i | replace: '-', ' ' }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if field == "foods" %}
      <div class="card">
        <div class="card-header" id="headingFood">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapseFood" aria-expanded="true" aria-controls="collapseOne">
                Food Backgrounds
            </button>
          </h6>
        </div>
        <div id="collapseFood" class="collapse" aria-labelledby="headingFood" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for i in (1..14) %}
              <div class="card">
                <img src={{ "BackgroundFood-" | append: i | append: ".jpg"  | asset_img_url: '600x' }} class="card-img-top" alt={{ "BackgroundFood-" | append: i }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ "BackgroundFood-" | append: i | replace: '-', ' ' }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if field == "colors" %}
      <div class="card">
        <div class="card-header" id="headingColor">
          <h6 class="mb-0">
            <button class="btn btn-link dropdown-toggle w-100" type="button" data-toggle="collapse" data-target="#collapseColor" aria-expanded="true" aria-controls="collapseOne">
              Pure Color Backgrounds
            </button>
          </h6>
        </div>
        <div id="collapseColor" class="collapse" aria-labelledby="headingColor" data-parent="#accordionExample">
          <div class="card-body owl-carousel owl-theme">
            {% for color in colors %}
              <div class="card">
                <img src={{ color | append: ".png" | asset_img_url: '600x' }} class="card-img-top" alt={{ color }}>
                <div class="card-body">
                  <h6 class="card-text text-center">{{ color | replace: '_', ' ' }}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      center: true,
      autoHeight:true,
      dots:true,
      dotsEach:true,
      loop:true,
      margin:10,
      responsive:{
        0:{
          items:1
        },
        400:{
            items:2
        }
      }
    });
  });
</script>
