{% comment %}
ATB-SCHEMA{
  "name": "Newsletter",
  "class": "index-newsletter-section",
  "id": "newsletter",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_heading",
      "label": "Heading",
      "default": "Subscribe to our newsletter",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_subheading",
      "label": "Subheading",
      "default": "A short sentence describing what someone will receive by subscribing",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)",
      "id": "atb_undefined",
      "info": ""
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{% include 'atb-render' field:'section_id' %}
{% assign section_id = val %}
{% include 'atb-render' field:'atb_heading' %}
{% assign atb_heading = val %}
{% include 'atb-render' field:'atb_subheading' %}
{% assign atb_subheading = val %}
{% include 'atb-render' field:'atb_undefined' %}
{% assign atb_undefined = val %}

<section id="shopify-section-{{section_id}}" class="shopify-section index-newsletter-section">
<div class="newsletter">
  <div class="wrapper">
    {% unless atb_heading == blank %}
      <div class="section-header text-center">
        <h2 class="h1 section-header__title">{{ atb_heading | escape }}</h2>
        {% if atb_subheading == blank %}
          <hr class="hr--small">
        {% endif %}
      </div>
    {% endunless %}
    {% unless atb_subheading == blank %}
      <div class="section-subheading text-center">
        <p>{{ atb_subheading | escape }}</p>
        <hr class="hr--small">
      </div>
    {% endunless %}
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <div class="newsletter--form">
          <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
        </div>
      {% else %}
        <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter--form">
          <div class="input-group">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
            <span class="input-group-btn">
              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                <span class="newsletter__submit-text--small">
                  <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </span>
              </button>
            </span>
          </div>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>


</section>