{% comment %}
ATB-SCHEMA{
  "name": "Custom HTML",
  "max_blocks": 9,
  "id": "advanced-content",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "class": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "select",
      "id": "block_type",
      "label": "Block Type",
      "info": "",
      "default": "",
      "options": [
        {
          "value": "html",
          "label": "html"
        }
      ],
      "repeatable": "block"
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "block"
    },
    {
      "type": "html",
      "id": "block_code",
      "label": "HTML",
      "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>",
      "repeatable": "block",
      "info": "",
      "conditional": "block_type:html"
    },
    {
      "type": "select",
      "id": "block_width",
      "label": "Container width",
      "default": "100%",
      "options": [
        {
          "value": "25%",
          "label": "25%"
        },
        {
          "value": "33%",
          "label": "33%"
        },
        {
          "value": "50%",
          "label": "50%"
        },
        {
          "value": "66%",
          "label": "66%"
        },
        {
          "value": "75%",
          "label": "75%"
        },
        {
          "value": "100%",
          "label": "100%"
        }
      ],
      "repeatable": "block",
      "info": "",
      "conditional": "block_type:html"
    },
    {
      "type": "select",
      "id": "block_alignment",
      "label": "Vertical alignment",
      "default": "top-middle",
      "options": [
        {
          "value": "top-middle",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom-middle",
          "label": "Bottom"
        }
      ],
      "repeatable": "block",
      "info": "",
      "conditional": "block_type:html"
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{% include 'atb-render' field:'section_id' %}
{% assign section_id = val %}
{% include 'atb-render' field:'block_type' %}
{% assign block_type = val %}
{% include 'atb-render' field:'blocks' %}
{% assign blocks = val %}
{% include 'atb-render' field:'block_code' %}
{% assign block_code = val %}
{% include 'atb-render' field:'block_width' %}
{% assign block_width = val %}
{% include 'atb-render' field:'block_alignment' %}
{% assign block_alignment = val %}

<section id="shopify-section-{{section_id}}" class="shopify-section ">
<div class="wrapper">
  <div class="custom-content">
  {% for block0 in blocks %}
    {% case block_width[forloop.index0] %}
      {% when '25%' %}
        {%- assign block_width = 'small--one-whole one-quarter' -%}
      {% when '33%' %}
        {%- assign block_width = 'small--one-whole one-third' -%}
      {% when '50%' %}
        {%- assign block_width = 'small--one-whole one-half' -%}
      {% when '66%' %}
        {%- assign block_width = 'small--one-whole two-thirds' -%}
      {% when '75%' %}
        {%- assign block_width = 'small--one-whole three-quarters' -%}
      {% when '100%' %}
        {%- assign block_width = 'one-whole' -%}
    {% endcase %}
    <div class="custom__item {{ block_width }} {% if block_alignment[forloop.index0] %}align--{{ block_alignment[forloop.index0] }}{% endif %}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--{{ block_type[forloop.index0] }}">
        {% case block_type[forloop.index0] %}
          {% when 'html' %}
            {% if block_code[forloop.index0] != blank %}
              <div class="rte" data-section-id="{{ section_id }}" data-section-type="featured-content-section">
                {{ block_code[forloop.index0] }}
              </div>
            {% else %}
              <div class="rte text-center">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            {% endif %}
        {% endcase %}
      </div>
    </div>
  {% endfor %}
  {% if blocks.size == 0 %}
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item">
          <div class="rte text-center">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        </div>
      </div>
   </div>
  {% endif %}
  </div>
</div>


</section>