{% comment %}
ATB-SCHEMA{
	"name":"Brooklyn Brooklyn Image Gallery",
	"id":"brooklyn-gallery",
	"price": 0,
	"banner":"//i.imgur.com/OcChZrR.png",
	"icon": "//i.imgur.com/ba3VsGM.png",
	"screenshots" : [
		"//i.imgur.com/OcChZrR.png",
		"//i.imgur.com/OcChZrR.png",
		"//i.imgur.com/OcChZrR.png"
	],
	"video" : "//player.vimeo.com/video/180350618",
	"tags": "divider,hr,universal,html",
	"description": "Create a gallery of images with links.",
	"long_description": "",
	"settings":[
		{ 
			"id" : "title",
			"label" : "Title",
			"default" : "",
			"info" : "Image Gallery",
			"type" : "text"
		},
		{ 
			"id" : "webcols",
			"label" : "Web Columns",
			"info" : "Set the number of web columns",
			"default" : "large--one-quarter",
			"options": [
				{
					"label": "1",
					"value": "large--one-whole"
				},
				{
					"label": "2",
					"value": "large--one-half"
				},
				{
					"label": "3",
					"value": "large--one-third"
				},
				{
					"label": "4",
					"value": "large--one-quarter"
				},
				{
					"label": "6",
					"value": "large--one-sixth"
				}
			],
			"type" : "select"
		},
		{ 
			"id" : "tabletcols",
			"label" : "Tablet Columns",
			"info" : "Set the number of tablet columns",
			"default" : "medium--one-third",
			"options": [
				{
					"label": "1",
					"value": "medium--one-whole"
				},
				{
					"label": "2",
					"value": "medium--one-half"
				},
				{
					"label": "3",
					"value": "medium--one-third"
				},
				{
					"label": "4",
					"value": "medium--one-quarter"
				},
				{
					"label": "6",
					"value": "medium--one-sixth"
				}
			],
			"type" : "select"
		},
		{ 
			"id" : "mobilecols",
			"label" : "Mobile Columns",
			"info" : "Set the number of mobile columns",
			"default" : "small--one-half",
			"options": [
				{
					"label": "1",
					"value": "small--one-whole"
				},
				{
					"label": "2",
					"value": "small--one-half"
				},
				{
					"label": "3",
					"value": "small--one-third"
				},
				{
					"label": "4",
					"value": "small--one-quarter"
				},
				{
					"label": "6",
					"value": "small--one-sixth"
				}
			],
			"type" : "select"
    },
		{ 
			"id" : "links",
			"label" : "Link",
			"default" : "",
			"info" : "Image href link url",
      "type" : "text",
      "repeatable": "Images"
		},
		{ 
			"id" : "images",
			"label" : "Image",
			"default" : "",
			"info" : "",
      "type" : "image_picker",
      "repeatable": "Images"
		}

	]
}ATB-SCHEMA
{% endcomment %}

{% include 'atb-render' field:'title' %}
{% assign title = val %}
{% include 'atb-render' field:'webcols' %}
{% assign webcols = val %}
{% include 'atb-render' field:'mobilecols' %}
{% assign mobilecols = val %}
{% include 'atb-render' field:'links' %}
{% assign links = val %}
{% include 'atb-render' field:'images' %}
{% assign images = val %}

<div class="wrapper">
  {% if title != blank %}
    <div class="section-header text-center">
      <h2 class="h1 section-header__title">{{ title }}</h2>
      <hr class="hr--small">
    </div>
  {% endif %}

  {% assign loopindex = 0 %}
    <div class="grid grid-collage">
      {% for image in images %}
        <div class="grid__item collection-collage__item {{mobilecols}} {{webcols}}">
          <a href="{{links[loopindex]}}">
            <div class="collection-grid__item-overlay grid__image" style="background-image: url({{image}})"></div>
          </a>      
        </div>
        {% assign loopindex = loopindex | plus: 1 %}
      {% endfor %}
    </div>
</div>

<style>
@media screen and (min-width: 1000px) {
  .collection-collage__item.large--one-half {
      height: 310px;
  }
  .collection-collage__item.large--one-third {
      height: 200px;
  }
  .collection-collage__item.large--one-quarter {
      height: 150px;
  }
  .collection-collage__item.large--one-sixth {
      height: 100px;
  }
}
@media screen and (min-width: 591px) and (max-width: 999px) {
  .collection-collage__item.medium--one-half {
      height: 310px;
  }
  .collection-collage__item.medium--one-third {
      height: 200px;
  }
  .collection-collage__item.medium--one-quarter {
      height: 150px;
  }
  .collection-collage__item.medium--one-sixth {
      height: 100px;
  }
}
@media screen and (max-width: 590px) {
  .collection-collage__item.small--one-half {
      height: 150px;
  }
  .collection-collage__item.small--one-third {
      height: 100px;
  }
  .collection-collage__item.small--one-quarter {
      height: 75px;
  }
  .collection-collage__item.small--one-sixth {
      height: 50px;
  }
}
</style>
