{% raw %}
  <script id="product_related-template" type="template/html">
        <div id="ga-product_related" class="ga ga-template_1 ga-products-box ga-product_related">
      <h2 class="ga-title">Recommended Pawducts</h2>
            <div class="ga-products">
        <div class="ga-carousel_wrapper">
          <ul class="ga-carousel owl-carousel">
            {% for product in products %}
            <!--
            {% assign first_available_variant = false %}
            {% for variant in product.variants %}
              {% if !first_available_variant and variant.available %}{% assign first_available_variant = variant %}{% endif %}
            {% endfor %}
            {% unless first_available_variant %}{% assign first_available_variant = product.variants[0] %}{% endunless %}
            -->
            {% if product.images[0] %}
              {% assign featured_image = product.images[0] | img_url: '350x' %}
            {% else %}
              {% assign featured_image = no_image_url | img_url: '350x' %}
            {% endif %}
            <li class="ga-product" data-product-id="{{product.id}}">
              <a href="/products/{{product.handle}}?utm_source=globoRelatedProducts">
                                {% if first_available_variant.compare_at_price > first_available_variant.price %}
                <span class="ga-label ga-label_sale">Sale</span>
                {% endif %}
                                <div class="ga-product_image" id="ga-product_image_{{product.id}}" style="background-image: url('{{featured_image}}')"></div>
              </a>
              <a data-mh="product_related_title-group" class="ga-product_title" href="/products/{{product.handle}}?utm_source=globoRelatedProducts">
              {{product.title}}              </a>
              {% assign variants_size = product.variants | size %}
              <div data-mh="product_related_variants-group" class="ga-product_variants-container">
                <select class="ga-product_variant_select {% if variants_size == 1 %}ga-hide{% endif %}">
                  {% for variant in product.variants %}<option {% unless variant.available %}disabled{% endunless %} data-image="{% if variant.featured_image %}{{variant.featured_image.src | img_url: '350x'}}{% else %}{{featured_image}}{% endif %}" data-available="{{variant.available}}" data-compare_at_price="{{variant.compare_at_price}}" data-price="{{variant.price}}" value="{{variant.id}}">{{variant.title}}{% unless variant.available %} - Sold out{% endunless %}</option>{% endfor %}
                </select>
              </div>
                            <span class="ga-product_price-container">
                <span class="ga-product_price money">{{first_available_variant.price | money}}</span>
                {% if first_available_variant.compare_at_price > first_available_variant.price %}
                <s class="ga-product_oldprice money">{{first_available_variant.compare_at_price | money}}</s>
                {% endif %}
              </span>
              <a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}" style="margin-bottom:15px"></div></a>
              <!-- <button data-mh="product_related_btn-group" class="ga-product_addtocart" type="button" data-add="Add to cart" data-added="Added to cart">Add to cart</button> -->
                          </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
      </script>
  <script id="cart-template" type="template/html">
        <div id="ga-cart" class="ga ga-template_3 ga-products-box ga-cart">
      <h2 class="ga-title">Related products</h2>
            <div class="ga-products">
        <ul class="ga-products-table">
          {% for product in products %}
          {% assign first_available_variant = false %}
          {% for variant in product.variants %}
            {% if !first_available_variant and variant.available %}{% assign first_available_variant = variant %}{% endif %}
          {% endfor %}
          {% unless first_available_variant %}{% assign first_available_variant = product.variants[0] %}{% endunless %}
          {% if product.images[0] %}
            {% assign featured_image = product.images[0] | img_url: '100x' %}
          {% else %}
            {% assign featured_image = no_image_url | img_url: '100x' %}
          {% endif %}
          <li class="ga-product" data-product-id="{{product.id}}">
            <div class="product_main">
              <input class="selectedItem" checked type="checkbox" value=""/>
              <a href="/products/{{product.handle}}?utm_source=globoRelatedProducts">
                <span class="ga-products_image">
                  <img id="ga-product_image_{{product.id}}" src="{{featured_image}}" alt="{{product.title}}"/>
                </span>
                <a<a class="ga-product_title" href="/products/{{product.handle}}?utm_source=globoRelatedProducts">{% if product.id == cur_product_id %}<strong>This item: </strong>{% endif %}{{product.title}}</a>
              </a>
            </div>
            {% assign variants_size = product.variants | size %}
            <div data-mh="cart_variants-group" class="ga-product_variants-container">
              <select class="ga-product_variant_select {% if variants_size == 1 %}ga-hide{% endif %}">
                {% for variant in product.variants %}<option {% unless variant.available %}disabled{% endunless %} data-image="{% if variant.featured_image %}{{variant.featured_image.src | img_url: '100x'}}{% else %}{{featured_image}}{% endif %}" data-available="{{variant.available}}" data-compare_at_price="{{variant.compare_at_price}}" data-price="{{variant.price}}" value="{{variant.id}}">{{variant.title}}{% unless variant.available %} - Sold out{% endunless %}</option>{% endfor %}
              </select>
            </div>
                        <span class="ga-product_price-container">
              <span class="ga-product_price money">{{first_available_variant.price | money}}</span>
              {% if first_available_variant.compare_at_price > first_available_variant.price %}
              <s class="ga-product_oldprice money">{{first_available_variant.compare_at_price | money}}</s>
              {% endif %}
            </span>
                      </li>
          {% endfor %}
        </ul>
        <div class="ga-product-form">
                    <div>Total price: <span class="ga-product_price ga-product_totalprice money">{{total_price | money}}</span></div>
                              <button class="ga-addalltocart" type="button" data-add="Add selected to cart" data-added="Added selected to cart">Add selected to cart</button>
                  </div>
      </div>
    </div>
      </script>
{% endraw %}
