<!-- Icon section -->
<div class="row icon-box text-center">
  <div class="col-4">
    <div class="card">
      <img src={{ 'Dog_5.jpg' | asset_img_url: '300x' }} class="card-img-top lazyload"
        alt="Fast Shipment"
        data-src="{{ 'Dog_5.jpg' | asset_img_url: '1000x' }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
        data-sizes="auto">
      <div class="card-body">
        <h6 class="card-title">Order Ships in 48 hours once art approved!</h6>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src={{ 'Dog_6.jpg' | asset_img_url: '300x' }} class="card-img-top lazyload"
        alt="The perfect gift"
        data-src="{{ 'Dog_6.jpg' | asset_img_url: '1000x' }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
        data-sizes="auto">
      <div class="card-body">
        <h6 class="card-title">The Perfect Gift!</h6>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src={{ 'Dog_4.jpg' | asset_img_url: '300x' }} class="card-img-top lazyload"
        alt="Happy Pet Parents Guranttee!"
        data-src="{{ 'Dog_4.jpg' | asset_img_url: '1000x' }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
        data-sizes="auto">
      <div class="card-body">
        <h6 class="card-title">Happy Pet Parents Guranttee!</h6>
      </div>
    </div>
  </div>
</div>
