  <div class="product-single__meta--wrapper">
        <div class="product-single__meta">
          {% if section.settings.product_vendor_enable %}
            <h2 class="product-single__vendor" iemprop="brand">{{ product.vendor }}</h2>
          {% endif %}

          <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

          <a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}" style="margin-bottom:15px"></div></a>
					<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% comment %}
              Optionally show the 'compare at' or original price of the product.
            {% endcomment %}
            {% include 'product-price', variant: current_variant %}

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product-single__policies rte">
                {%- if shop.taxes_included -%}
                  {{ 'products.general.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

            <hr class="hr--small">

            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            {% capture "form_classes" %}
              product-single__form{% if product.has_only_default_variant %} product-single__form--no-variants{% endif %}
            {%- endcapture %}

            {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}

            {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  {% if option.name != 'Depth' %}
                    <div class="radio-wrapper js product-form__item">
                      <label class="single-option-radio__label"
                        for="ProductSelect-option-{{ forloop.index0 }}">
                        {{ option.name | escape }}
                      </label>
                      {% if section.settings.product_selector == 'radio' %}
                        <fieldset class="single-option-radio"
                          id="ProductSelect-option-{{ forloop.index0 }}">
                          {% assign option_index = forloop.index %}
                          {% for value in option.values %}
                            {% assign variant_label_state = true %}
                            {% if product.options.size == 1 %}
                              {% unless product.variants[forloop.index0].available  %}
                                {% assign variant_label_state = false %}
                              {% endunless %}
                            {% endif %}
                            <input type="radio"
                              {% if option.selected_value == value %} checked="checked"{% endif %}
                              {% unless variant_label_state %} disabled="disabled"{% endunless %}
                              value="{{ value | escape }}"
                              data-index="option{{ option_index }}"bold
                              name="option{{ option.position }}"
                              class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                              id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
                            <label for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                          {% endfor %}
                        </fieldset>
                      {% else %}
                        <select class="single-option-selector__radio single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                          {% for value in option.values %}
                            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value | escape }}</option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endunless %}

              <select name="id" id="ProductSelect" class="product-single__variants no-js">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %}
                      selected="selected" {% endif %}
                      data-sku="{{ variant.sku }}"
                      value="{{ variant.id }}">
                      {{ variant.title }} - {{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

              <div class="uploadkit"></div>

              <div class="bold_options" data-product-id="{{ product.id }}"></div>

              <div class="add-to-cart-row">
                <div class="product-single__add-to-cart{% if section.settings.add_to_cart_button_size == 'large' %} product-single__add-to-cart--full-width{% endif %}">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                    <span class="btn__text">
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                  </button>
                  {% if section.settings.enable_payment_button %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>

                {% if section.settings.quantity_enabled %}
                  <div class="product-single__quantity">
                    {% comment %}
                    no need to show "Quantity" label
                    <label for="Quantity" class="product-single__quantity-label js-quantity-selector">{{ 'products.product.quantity' | t }}</label>
                    {% endcomment %}
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
                  </div>
                {% endif %}
              </div>
            {% endform %}

          </div>

          {% if section.settings.social_sharing_products %}
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
        </div>
      </div>
