<style>
.carousel-thumbnails .carousel-indicators img {
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    border: 3px solid #fff;
}
.carousel-thumbnails .carousel-indicators .active img {
  box-shadow: 0 0 0 1px #B3B3B3;
  border: 3px solid #B3B3B3;
}
.carousel-thumbnails .carousel-indicators li {
    height: auto;
    border: none;
    width: 60px;
}
.carousel-thumbnails .carousel-indicators {
  position: relative;
  margin: 20px 0;
}
.carousel-thumbnails .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.carousel-thumbnails .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
</style>

<div id="carousel-thumb" data-interval="false" data-touch="true" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
  <div class="carousel-inner d-flex flex-wrap align-items-center">
    {% for image in product.images %}
      {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {% if forloop.first == true %}
      <div class="item carousel-item active d-flex flex-wrap align-items-center" data-slide-number="{{ forloop.index0 }}">
        <img class="img-fluid lazyload d-block w-100"
          src="{{ image.src | img_url: 'compact' }}"
          data-src="{{ image | img_url: 'master' }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
          data-image-id="{{ image.id }}"
          alt="{{ image.alt | escape }}">
      </div>
      {% else %}
      <div class="item carousel-item d-flex flex-wrap align-items-center" data-slide-number="{{ forloop.index0 }}">
        <img class="img-fluid lazyload d-block w-100"
          src="{{ image.src | img_url: 'compact' }}"
          data-src="{{ image | img_url: 'master' }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
          data-image-id="{{ image.id }}"
          alt="{{ image.alt | escape }}">
      </div>
      {% endif %}
    {% endfor %}
    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators row no-gutters">
    {% for image in product.images %}
      {% if forloop.first == true %}
        <li class="selected active col" data-slide-to="{{ forloop.index0 }}" data-target="#carousel-thumb">
          <img src="{{ image.src | img_url: 'compact' }}" class="img-fluid img-thumbnail" alt="{{ image.alt | escape }}">
        </li>
      {% else %}
        <li class="col" data-slide-to="{{ forloop.index0 }}" data-target="#carousel-thumb">
          <img src="{{ image.src | img_url: 'compact' }}" class="img-fluid img-thumbnail" alt="{{ image.alt | escape }}">
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>

<script>
$(".carousel").on("touchstart", function(event){
    var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function(event){
        var xMove = event.originalEvent.touches[0].pageX;
        if( Math.floor(xClick - xMove) > 5 ){
            $(this).carousel('next');
        }
        else if( Math.floor(xClick - xMove) < -5 ){
            $(this).carousel('prev');
        }
    });
    $(".carousel").on("touchend", function(){
            $(this).off("touchmove");
    });
});

function carouselNormalization() {
  var items = $('#carousel-thumb .item'), //grab all slides
    heights = [], //create empty array to store height values
    tallest; //create variable to make note of the tallest slide

  if (items.length) {
    function normalizeHeights() {
      items.each(function() { //add heights to array
        heights.push($(this).height());
      });
      tallest = Math.max.apply(null, heights); //cache largest value
      items.each(function() {
        $(this).css('min-height', tallest + 'px');
      });
    };
    normalizeHeights();

    $(window).on('resize orientationchange', function() {
      tallest = 0, heights.length = 0; //reset vars
      items.each(function() {
        $(this).css('min-height', '0'); //reset min-height
      });
      normalizeHeights(); //run it again
    });
  }
}

window.onload = function() {
  carouselNormalization();
}
</script>
