<!-- /templates/index.liquid -->

<!-- Homepage Hero Banner -->
<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 lazyload fade-in" src="{{ "banner_try.png" | asset_img_url: '300x' }}" alt="First slide"
      data-src="{{ "banner_try.png" | asset_url }}"
      data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
      data-sizes="auto"
      data-parent-fit="cover"
      alt="{{ block.settings.image.alt | escape }}">
      <div class="carousel-caption d-none d-md-block">
        <h5>This is a title</h5>
        <p>Just some text</p>
      </div>
    </div>
  </div>
</div>
-->
<!-- Homepage Hero Banner End -->

<!-- Homepage Featured Products -->
<div class="container-fluid product-collections" id="products">
  <div class="row collection-title">
    <h4 class="section-title section-title-center">
      <b></b>
      <span class="section-title-main">Best-selling Pawducts</span>
      <b></b>
    </h4>
  </div>
  <div class="row">
    {% for collection in collections %}
      {% if collection.title contains 'Home'%}
        {% for product in collection.products %}
          {% if forloop.index <= 4 %}
            <!--show product card here -->
            {%- assign image = product.featured_image -%}
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
            {% endif %}
            {% assign best_seller = false %}
            {% for tag in product.tags %}
              {% if tag contains 'best-seller' %}
                {% assign best_seller = true %}{% break %}
              {% endif %}
            {% endfor %}
            <div class="card-col col-md-3 col-sm-6 col-6" >
              <div class="card">
                <a class="grid-product__image-link" href="{{ product.url | within: collection }}" data-image-link>
                  <img class="card-img-top img-fluid lazyload"
                       src="{{ image | img_url: '300x300' }}"
                       data-src="{{ image| img_url: '1200x1200' }}"
                       data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ product.featured_image.alt | escape }}"
                       data-image>
                </a>
                {% if best_seller %}
                  <div class="collection-badge best-seller">
                    <span>Best seller <i class="fas fa-fire-alt" style="font-size: 1rem;"></i></span>
                  </div>
                {% elsif on_sale %}
                  <div class="grid-product__on-sale">
                    {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
                    <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
                  </div>
                {% endif %}

                <div class="card-body">
                  <a href="{{ product.url | within: collection }}">
                    <h6 class="card-title">{{ product.title }}</h6>
                    <span>{% include 'product-price', variant: product.selected_or_first_available_variant %}</span>
                  </a>
                  <a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}" style="margin-bottom:15px"></div></a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<!-- Homepage Featured Products End -->

{% include 'art-styles' %}

<div class="index-sections">
  {{ content_for_index }}
</div>
